// ==========================================================================
// Containers
// ==========================================================================

.container {
    @include m(main) {
        text-align: center;
        width: calc(100% - 50px);
        @include mq(medium) {
            width: calc(100% - 100px);
        }
    }
}