// ==========================================================================
// Nav
// ==========================================================================

.nav {
  &-logo {
    @include m(img) {
      display: block;
      width: 36px;
      margin-right: 15px;
      @include mq(medium) {
        margin-left: 50px;
      }
    }
    @include m(text) {
      color: $white;
      font-size: em(18px);
    }
  }
} 